@page "/IncidentDetails"
@page "/IncidentDetails/{incidentId}"

@using ImBlazorWebAssembly.Pages.IncidentDetails.Comments

<div class="container px-8">
    <br />
    <div class="report-title">Incident Details</div>
    <br />

    @if(incidentId is null)
    {
        <h1 class="text-danger">Please pass incident ID</h1>
    }
    else
    {        
        if(incident is null)
        {
            <p class="loading-p"> Loading...</p>
        }
        else
        {
               <div class="row">
                <div class="col-xl-12  col-lg-12 col-md-12 col-sm-12">
                    <div class="incident-createTime ">
                        Created by <span class="text-primary">Umar Shareef</span> 2 days ago
                    </div>
                </div>
                </div>
            <div class="row">              
                <div class="col-xl-12  col-lg-12 col-md-12 col-sm-12">
                    <IncidentTitle incidentId="@incidentId" title="@incident.Title"></IncidentTitle>
                </div>
            </div>
             <div class="row">              
                <div class="col-xl-6  col-lg-6 col-md-12 col-sm-12">
                    <IncidentDescription incidentId="@incidentId" description="@incident.Description"></IncidentDescription>
                    <IncidentAdditionalDetails incidentId="@incidentId" additionalDetails="@incident.AdditionalData"></IncidentAdditionalDetails>
                    <IncidentAttachments attachments="@incident.Attachments"></IncidentAttachments>
                </div>
                 <div class="col-xl-6  col-lg-6 col-md-12 col-sm-12">
                   <IncidentFields status=@incident.Status assignee=@incident.AssignedTo
                                    starttime=@incident.StartTime duedate=@incident.DueDate
                       >
                   </IncidentFields>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6  col-lg-6 col-md-12 col-sm-12">
                    <IncidentComments comments="@incident.Comments">
                    </IncidentComments>
                </div>
            </div>
        }
    }
</div>

@code {
    [Parameter]
    public string incidentId { get; set; }

    private Incident incident;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            string token = await localStorage.GetItemAsync<string>("token");     
            incident = await IncidentService.GetIncidentById(token, incidentId);
            StateHasChanged();
        }
    }


}
