@page "/IncidentDetails"
@page "/IncidentDetails/{incidentId}"

@using ImBlazorWebAssembly.Pages.IncidentDetails.Comments

<div class="container px-8">
    <br />
    <div class="report-title">Incident Details</div>
    <br />

    @if(incidentId is null)
    {
        <h1 class="text-danger">Please pass incident ID</h1>
    }
    else
    {        
        if(incident is null)
        {
            <p class="loading-p"> Loading...</p>
        }
        else
        {

            <div class="row">
                <div class="col-xl-12  col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <IncidentTitle incidentId="@incidentId" title="@incident.Title"></IncidentTitle>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12  col-lg-12 col-md-12 col-sm-12">
                    <div class="incident-createTime ">
                        Created by <span class="text-primary">@createdBy</span> 
                        <span title="@incident.CreatedAT.ToString("MMM dd, yyyy h:m")"> @createdTime</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6  col-lg-6 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <IncidentDescription incidentId="@incidentId" description="@incident.Description"></IncidentDescription>
                            <IncidentAdditionalDetails incidentId="@incidentId" additionalDetails="@incident.AdditionalData"></IncidentAdditionalDetails>
                            <IncidentAttachments attachments="@incident.Attachments"></IncidentAttachments>

                        </div>
                    </div>
                </div>
                 <div class="col-xl-6  col-lg-6 col-md-12 col-sm-12">
                     <div class="card">
                        <div class="card-body">
                            <IncidentFields incidentId="@incident.Id"
                                    status=@incident.Status assignee=@incident.AssignedTo
                                    starttime=@incident.StartTime duedate=@incident.DueDate>
                            </IncidentFields>
                    </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6  col-lg-6 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <IncidentComments incidentId="@incidentId" comments="@incident.Comments">
                            </IncidentComments>
                         </div>
                     </div>
                </div>
            </div>
        }
    }
</div>

@code {
    [Parameter]
    public string incidentId { get; set; }

    private Incident incident;
    public string createdBy = "";
    public string createdTime = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {  
        }
    }

    protected override async Task OnParametersSetAsync()
    {
            string token = await localStorage.GetItemAsync<string>("token");     
            incident = await IncidentService.GetIncidentById(token, incidentId);
            createdTime = new(await JS.InvokeAsync<string>("getMoment", incident.CreatedAT));
            createdBy = await UserService.GetUserNameById(incident.CreatedBy);
    }


}
